#kontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.cat {
    background-color: white;
    padding: 10px;
}

.cat > div:first-child {
    font-weight: bold !important; 
}